<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>BlogPost | Home</title>
  <style>
    * {
      margin: 0;
      padding: 0;
    }
    a{
      text-decoration: none;
      color: white;
    }
    header {
      background-color: #444;
      color: white;
      display: flex;
      padding: 1%;
      display: flex;
      justify-content: space-between;
    }
    #inner-div {
      display: flex;
      justify-content: space-around;
      width: 35%;
      align-items: center;
    }
    #main-div {
      margin: 20px auto;
      padding: 20px;
      border: 1px solid #ddd;
      width: 80%;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    #para-inside-main {
      margin: 4% 0%;
    }
    footer {
      background-color: #444;
      color: white;
      text-align: center;
      padding: 10px;
      position: fixed;
      bottom: 0;
      width: 100%;
    }
  </style>
</head>