<!DOCTYPE html>
<%- include('partials/head') %>
<body>
  <%- include('partials/header') %>

  <main>
    <div id="main-div">
      <p style="font-size: 28px;">
        Sorry the page you are looking for cannot be found... 
      </p>
    </div>
  </main>

  <%- include('partials/footer') %>
</body>